.category-card {
  display: flex;
  flex-direction: column;

  padding-bottom: 2em;

  border-radius: 5px;
  color: #020202;
  background-color: rgba(250, 250, 250, 0.9);

  -webkit-box-shadow: 10px 10px 62px -22px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 62px -22px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 62px -22px rgba(0, 0, 0, 0.75);

  &:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.6);
    transform: translateY(-1px);
  }
}

i {
  margin: 0.5em 0;
}

i.star.far.fa-star::before {
  cursor: pointer;
}

.card-image {
  border-radius: 5px 5px 0 0;
  height: 200px;
  width: 100%;
}

p,
i,
h3 {
  margin: 0.5em 2em;
}
