.scrolltext-container {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: 'Pathway Gothic One', sans-serif;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-size: 1.5rem;
  height: 4rem;
  letter-spacing: 2px; }

footer {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%; }
