.scrolltext-container {
  width: 100%;
  font-family: 'Pathway Gothic One', sans-serif;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 150%;
  height: 5rem;
  letter-spacing: 2px; }

@keyframes scrolltext-container {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

footer {
  position: fixed;
  bottom: 0;
  width: 100%; }

.crawl {
  display: inline-block;
  white-space: nowrap;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: scrolltext-container;
  animation-name: scrolltext-container;
  -webkit-animation-duration: 7s;
  animation-duration: 40s; }
