.app {
  margin: 0 auto;
  font-family: 'Pathway Gothic One', sans-serif; }

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@media screen and (max-width: 900px) {
  .header-container,
  .main-container {
    width: 90%; } }

@media screen and (max-width: 815px) {
  .header-container {
    flex-direction: column;
    width: 95%; }
  .brand-image {
    margin-bottom: 1rem; }
  .nav-btns {
    width: 75%; } }

@media screen and (max-width: 515px) {
  .nav-btns {
    width: 95%; }
  .nav-link {
    margin-left: 0; } }
