.app {
  margin: 0 auto;
  font-family: 'Pathway Gothic One', sans-serif;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 80%;
  margin: 0 auto;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@media screen and (max-width: 900px) {
  .main-container {
    width: 90%;
  }
}
