.app {
  margin: 0 auto;
  font-family: 'Pathway Gothic One', sans-serif; }

.header {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 0 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 1.5em;
  color: #fff; }

.header-container,
.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto; }

.brand-image {
  height: 1em; }

.nav-btns {
  display: flex;
  justify-content: space-between;
  width: 50%; }

.nav-link {
  text-decoration: none;
  margin-left: 1em; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

.nav-link {
  color: #fff; }
  .nav-link:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.3s; }

@media screen and (max-width: 900px) {
  .header-container,
  .main-container {
    width: 90%; } }

@media screen and (max-width: 815px) {
  .header-container {
    flex-direction: column;
    width: 95%; }
  .brand-image {
    margin-bottom: 1rem; }
  .nav-btns {
    width: 75%; } }

@media screen and (max-width: 515px) {
  .nav-btns {
    width: 95%; }
  .nav-link {
    margin-left: 0; } }
