.header {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 0 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 1.5em;
  color: #fff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 80%;
  margin: 0 auto;
}

.brand-image {
  height: 1em;
}

.nav-btns {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.nav-link {
  text-decoration: none;
  margin-left: 1em;
  color: #fff;

  &:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.3s;
  }
}
